/* styles/globals.css */

/* GMARKET SANS BOLD */
@font-face {
    font-family: 'GmarketSansBold';
    src: url('/fonts/GMARKETSANSBOLD.OTF') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* GMARKET SANS LIGHT */
@font-face {
    font-family: 'GmarketSansLight';
    src: url('/fonts/GMARKETSANSLIGHT.OTF') format('opentype');
    font-weight: 300;
    font-style: normal;
}

/* GMARKET SANS MEDIUM */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('/fonts/GMARKETSANSMEDIUM.OTF') format('opentype');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'GmarketSansMedium', sans-serif;
    background-color: #D8E4F3; /* 배경색 설정 */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'GmarketSansBold', sans-serif;
}

p {
    font-family: 'GmarketSansMedium', sans-serif;
}
